{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Get Resonance Metrics for a Topic of Interest {% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <p>Find out how a given topic resonates with Twitter users in the UK.</p>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.keyword.label }}<br>
                    {{ form.keyword(size=32) }}
                </p>
                <input class="btn btn-sm btn-primary" type="submit" value="Submit">
                <br>
            </form>
            <br>
        <sup style="color:brown">Once submitted, please allow ~1 minute for data to be fetched and returned.</sup>
        </div>
    </div>

{% endblock %}

{% block results %}

    {% if keyword == None %}

    <div class="card">
        <div class="card-body">
            <p>No topic to analyze.</p>
            <br>
            <sup><i>For the purpose of this demo, Tweets are only returned if they are in English and if they were sent from the UK.</i></sup>
            <br>
            <sup><i>Replies, retweets and promoted Tweets are also excluded.</i></sup>
        </div>
    </div>

    {% elif keyword == 0 %}

    <div class="card">
        <div class="card-body">
            <p>No Tweets to analyze.</p>
            <br>
            <sup><i>For the purpose of this demo, Tweets are only returned if they are in English and if they were sent from the UK.</i></sup>
            <br>
            <sup><i>Replies, retweets and promoted Tweets are also excluded.</i></sup>
        </div>
    </div>

    {% elif keyword == 1 %}

    <div class="card">
        <div class="card-body">
            <p>An error occurred: {{ status_code }} .</p>
            <br>
            <sup><i>For the purpose of this demo, Tweets are only returned if they are in English and if they were sent from the UK.</i></sup>
            <br>
            <sup><i>Replies, retweets and promoted Tweets are also excluded.</i></sup>
        </div>
    </div>

    {% else %}

    <div class="card">
        <div class="card-body">
            <p><b>{{ tweet_count }} Tweets</b> were sent from the UK in the past 7 days about the topic "{{ keyword }}".</p>
            <p><b>Aggregate retweet count: </b> {{ retweet_count }}</p>
            <p><b>Aggregate like count: </b> {{ like_count }}</p>
            <p><b>Aggregate quote count: </b> {{ quote_count }}</p>
            <p><b>Aggregate reply count: </b> {{ reply_count }}</p>
            <p>Example Tweets:</p>
                {% for id in tweet_ids %}
                    <blockquote class="twitter-tweet"><a href="https://twitter.com/x/status/{{ id }}"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                {% endfor %}
            <br>
            <sup><i>For the purpose of this demo, Tweets are only returned if they are in English and if they were sent from the UK.</i></sup>
            <br>
            <sup><i>Replies, retweets and promoted Tweets are also excluded.</i></sup>
            <br>
            <sup><i>Aggreate counts are from across all original Tweets returned by the query.</i></sup>
        </div>
    </div>

    {% endif %}

{% endblock %}