{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Get Topics of Interest for a Profile {% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <p>Find out what topics a user Tweets the most about.</p>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <input class="btn btn-sm btn-primary" type="submit" value="Submit">
                <br>
            </form>
            <br>
        <sup style="color:brown">Once submitted, please allow ~10 seconds for data to be fetched and returned.</sup>
        </div>
    </div>

{% endblock %}

{% block emojis %} 

    {% if top_emojis == 0 %}

        <p></p>

    {% elif top_emojis == 1 %}

        <div class="card">
            <div class="card-body">
                <p>No emojis to analyze.</p>
            </div>
        </div>
    
    {% else %}

        <div class="card">
            <div class="card-body">
                <p>Top emojis used by this profile: {{ top_emojis }}</p>
                <sup><i>Note: The emojis returned above were used at least 5 times in this user's Tweets and are sorted from most frequently to least frequently used.</i></sup>
            </div>
        </div>

    {% endif %}


{% endblock %}

{% block results %}

    {% if annotations_data == 0 %}

        <div class="card">
            <div class="card-body">
                <p>Invalid username.</p>
            </div>
        </div>

    {% elif annotations_data == 1 %}

        <div class="card">
            <div class="card-body">
                <p>Oops! Something went wrong.</p> 
                <p>Response code: {{ response_code }}</p>
                <p>Try again later.</p>
            </div>
        </div>

    {% elif tweet_count == 0 %}

        <div class="card">
            <div class="card-body">
            <p>No data to analyze.</p>
            </div>
        </div>    

    {% else %}

        <div class="card">
            <div class="card-body">

                {% if tweet_count == None %}

                    <p><b>Total number of Tweets analyzed:</b> 0</p>
                
                {% else %}

                    <p><b>Total number of Tweets analyzed:</b> {{ tweet_count }}</p>
                    <br>
                    <p><a href=/DownloadCSV type="button" class="btn btn-secondary btn-lg">Download CSV</a></p>
                    <br>

                {% endif %}

                {% if domain == None or domain == {} %}

                {% else %}

                    <p><b>Top annotation domains:</b>
                        <ul>
                            {% for k, v in domain.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                {% if entity == None or entity == {} %}

                {% else %}

                    <p><b>Top annotation entities:</b>
                        <ul>
                            {% for k, v in entity.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                {% if person == None or person == {} %}

                {% else %}

                    <p><b>Top people:</b>
                        <ul>
                            {% for k, v in person.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                {% if place == None or place == {} %}

                {% else %}

                    <p><b>Top places:</b>
                        <ul>
                            {% for k, v in place.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                {% if product == None or product == {} %}

                {% else %}

                    <p><b>Top products:</b>
                        <ul>
                            {% for k, v in product.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                {% if organization == None or organization == {} %}

                {% else %}

                    <p><b>Top organizations:</b>
                        <ul>
                            {% for k, v in organization.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                {% if other == None or other == {} %}

                {% else %}

                    <p><b>Other frequent topics:</b>
                        <ul>
                            {% for k, v in other.items() %}
                                <li>{{ k }} ({{ v }})</li>
                            {% endfor %}
                        </ul>
                
                {% endif %}

                <br>
                <sup><i>This application analyzes up to 300 of the user's most recent Tweets.</i></sup>
                <br>
                <sup><i>Only annotations and entities that are present in 2+ Tweets are displayed.</i></sup>
                <br>
                <sup><i>In addition, only entities with a probability score >= 0.5 are displayed.</i></sup>
                <br>
                <sup><i>Read more about Tweet Annotations in the <a href="https://developer.twitter.com/en/docs/twitter-api/annotations" >Twitter developer docs</a>.</i></sup>
            </div>
        </div>
        
    {% endif %}

{% endblock %}